body {
	font-family: 'Roboto', sans-serif;
	background-color: #484848;
	/*Need to figure out what this does and span*/
	min-width: 960px;
	margin: 0;
	padding: 0;
}

#container {
	margin: 0 auto;
	padding: 0;
}

.email {
	color: #C3B1E1;
	margin: 0;
}

.col-left {
	position:relative;
	left: 10px;
  	float: left;
  	width: 50%;
  	text-align: left;
  	margin-top: 10px;
}

.col-right {
	position:relative;
	right: 10px;
	float: left;
  	width: 50%;
  	text-align: right;
  	margin-top: 10px;
}

.col-left-img {
  	float: left;
  	width: 37%;
  	text-align: center;
}

.col-right-img {
	position:relative;
	right: 10px;
	float: left;
  	width: 63%;
  	text-align: left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#nav_list {
	list-style: none;
	display:inline-block;
	margin: 0;
	padding: 0;
	text-align: center;
}

#nav_list a:hover {
	color: #C3B1E1;
}

#nav_list a {
	text-decoration: none;
	color: white;
	font-size: 14px;
}

#nav_list li {
	display: inline-block;
	color: white;
	font-size: 14px;
}



.border-list {
	border-right: solid;
	padding-right: 7px;
	padding-left: 7px;
}


#home_page {
	/*background-color: #105d73;*/
	padding-left: 0;
}

.current_page {
	/*background-color: #105d73;*/
	text-decoration: underline;
	text-decoration-color: white;
}

#last_page {
	border-right: none;
	padding-right: 0;
}

#profile_img {
	width: 50%;
	height: 50%;
}

.bio-text {
	text-decoration: none;
	color: white;
}

/*Everything that is not NavBar*/


#name_header {
	margin: auto;
	width: 28%;
	padding-top: 30px;
}


#name_header h1 {
	font-size: 33px;
	color: white;
	text-align: center;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px
}

#name_header h4 {
	padding-left: 6px;
	padding-top: 5px;
	color: #C3B1E1;
	text-align: left;
	margin: 0;
}

#pic_and_bio {
	margin-top: 45px;
}

#bio_text_first {
	margin: 0;
}

#resume {
	width: 960px;
	height: 800px;
}

#resume_container {
	text-align: center;
	margin-top: 30px;
}

#download_link {
	text-align: center;
}

#download_link a {
	color: #C3B1E1;
}

#download_link a:hover {
	color: white;
}

/**/
































